# dependencies
node_modules

# builds
/dist
/server-dist

# local runtime/temp
tmp
.cache
*.log

# local media work files
docs/media/hiDef.mp4
docs/media/output.mp4

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.swp
*.swo
